.gridRowsCol {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
}

h2 {
    text-decoration: underline;
}

.picture {
    border-radius: 5px;
    padding: 5px;
}

.picture img {
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

.picture img:hover {
    transform: scale(1.1);
}

#pic1 {
    grid-column: 2;
}